# Hanukkah of Data: Day 04

We are looking for the phone number of a woman who fixed the bike of the man from puzzle 3.  
She is a customer of Noah's and often bought pastries in the early morning.

## Setup

In [2]:
import pandas as pd

from hanukkah_of_data.utils import load_data

## Load data

In [3]:
dfs = load_data()

## Solve puzzle

In [4]:
customers_df = dfs["customers"]
orders_df = dfs["orders"]
items_df = dfs["orders_items"]
products_df = dfs["products"]

In [64]:
early_orders_df = orders_df.loc[orders_df["shipped"].dt.hour.between(3, 5)]

In [35]:
merged_df = (
    early_orders_df.merge(customers_df, how="left", on="customerid")
    .merge(items_df, how="left", on="orderid")
    .merge(products_df, how="left", on="sku")
)

In [36]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2269 entries, 0 to 2268
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   orderid         2269 non-null   int64
 1   customerid      2269 non-null   int64
 2   ordered         2269 non-null   datetime64[ns]
 3   shipped         2269 non-null   datetime64[ns]
 4   items           0 non-null      float64
 5   total           2269 non-null   float64
 6   name            2269 non-null   string
 7   address         2269 non-null   string
 8   citystatezip    2269 non-null   string
 9   birthdate       2269 non-null   datetime64[ns]
 10  phone           2269 non-null   string
 11  sku             2269 non-null   string
 12  qty             2269 non-null   int64
 13  unit_price      2269 non-null   float64
 14  desc            2269 non-null   string
 15  wholesale_cost  2269 non-null   float64
dtypes: datetime64[ns](3), float64(4), int64(3), string(6)
memory usage: 301.4 KB

Accorind to the internet _Rugelach_ is the king of Jewish pastries.

In [63]:
merged_df.loc[merged_df.desc.str.contains("Rugelach")]

,orderid,customerid,ordered,shipped,items,total,name,address,citystatezip,birthdate,phone,sku,qty,unit_price,desc,wholesale_cost
431,38035,9621,2018-02-07 05:46:38,2018-02-07 05:46:38,NaN,167.47,Jill Smith,171A E 9th St,"Manhattan, NY 10003",1988-05-31,516-485-4509,BKY6881,1,7.51,Poppyseed Rugelach,5.35
527,48000,5375,2018-05-16 04:25:13,2018-05-16 04:25:13,NaN,12.72,Christina Booker,1127 Grinnell Pl,"Bronx, NY 10474",1981-01-08,718-649-9036,BKY0455,2,6.36,Raspberry Rugelach,5.24
651,59167,5190,2018-09-05 00:25:05,2018-09-05 05:15:00,NaN,48.95,Dustin Wallace,499 E 161st St,"Bronx, NY 10451",1966-07-08,631-505-6074,BKY0455,1,6.55,Raspberry Rugelach,5.24
991,93583,5375,2019-08-14 04:09:04,2019-08-14 04:09:04,NaN,5.60,Christina Booker,1127 Grinnell Pl,"Bronx, NY 10474",1981-01-08,718-649-9036,BKY6881,1,5.60,Poppyseed Rugelach,5.35
1189,112567,10543,2020-02-20 03:24:04,2020-02-20 03:24:04,NaN,110.06,John Roberts,790 Westchester Ave,"Bronx, NY 10456",1968-05-30,917-407-3437,BKY0455,1,6.15,Raspberry Rugelach,5.24
1853,174534,5375,2021-11-02 04:41:47,2021-11-02 04:41:47,NaN,6.36,Christina Booker,1127 Grinnell Pl,"Bronx, NY 10474",1981-01-08,718-649-9036,BKY0455,1,6.36,Raspberry Rugelach,5.24

We are looking for *Christina Booker* as she is the only customer with multiple early purchaes