# Hanukkah of Data: Day 07

We are looking for the phone number of Emily Randolph's (puzzle 06) ex-boyfriend.

## Setup

In [1]:
import pandas as pd

from hanukkah_of_data.utils import load_data

## Load data

In [2]:
dfs = load_data()

In [6]:
customers_df = dfs["customers"]
orders_df = dfs["orders"]
items_df = dfs["orders_items"]
products_df = dfs["products"]

## Solve puzzle

In [7]:
customers_df.loc[customers_df.name == "Emily Randolph"]

      customerid            name  ...  birthdate         phone
7341        8342  Emily Randolph  ... 1988-10-30  914-868-0316

[1 rows x 6 columns]

In [9]:
emily_orders_df = (
    orders_df.loc[orders_df["customerid"] == 8342]
    .merge(items_df, how="left", on="orderid")
    .merge(products_df, how="left", on="sku")
)

In [11]:
emily_orders_df.head()

   orderid  customerid  ...                      desc wholesale_cost
0    12624        8342  ...   Handmade Toaster (blue)          33.65
1    33563        8342  ...        Super Coconut Fork           2.99
2    75257        8342  ...            Disney Dreidel          10.22
3    86371        8342  ...  Electric Machine (amber)          31.81
4    87599        8342  ...         Senior Mouse Food           1.40

[5 rows x 11 columns]

In [45]:
emily_products = emily_orders_df.loc[emily_orders_df.desc.str.endswith(")")]

In [46]:
emily_products

    orderid  customerid  ...                        desc wholesale_cost
0     12624        8342  ...     Handmade Toaster (blue)          33.65
3     86371        8342  ...    Electric Machine (amber)          31.81
6     94040        8342  ...       Manual Mixer (orange)          94.72
8     94040        8342  ...     Electric Toaster (blue)          21.72
9     96220        8342  ...       Noah's Poster (white)           7.52
20   154876        8342  ...     Noah's Jewelry (yellow)          53.74
21   154876        8342  ...  Electric Crockpot (purple)          71.36
25   200947        8342  ...     Noah's Jewelry (orange)          49.80

[8 rows x 11 columns]