# Hannukah of Data: Day 03

We are looking for the phone number of a born Aries (03-21 until 04-19) in the year of the dog (1946, 1958, 1970, 1982, 1994, 2006, 2018) and living in the same neighorhood as Jeremy Davis (the rug cleaner from puzzle 2).

## Setup

In [1]:
import pandas as pd

from hanukkah_of_data.utils import load_data

In [2]:
%autoreload 2

UsageError: Line magic function `%autoreload` not found.

## Load data

In [3]:
dfs = load_data()

## Solve puzzle

In [4]:
customer_df = dfs["customers"]

In [19]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11080 entries, 0 to 11079
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   customerid    11080 non-null  int64
 1   name          11080 non-null  string
 2   address       11080 non-null  string
 3   citystatezip  11080 non-null  string
 4   birthdate     11080 non-null  datetime64[ns]
 5   phone         11080 non-null  string
dtypes: datetime64[ns](1), int64(1), string(4)
memory usage: 519.5 KB

In [5]:
customer_df.head()

,customerid,name,address,citystatezip,birthdate,phone
0,1001,Jack Quinn,201 E Park St,"Los Angeles, CA 91343",1960-05-14,805-287-8515
1,1002,David Powell,224C Tysens Ln,"Staten Island, NY 10306",1978-04-04,516-768-1652
2,1003,Carrie Green,1608 W 53rd Way,"Tampa, FL 33614",1969-01-21,727-209-0470
3,1004,Steven Miller,178½ E 7th St,"Manhattan, NY 10009",1953-08-17,607-941-9563
4,1005,Christine Powers,270 W 242nd St,"Bronx, NY 10463",1983-06-06,212-759-9043

In [7]:
customer_df.birthdate.describe()

/tmp/ipykernel_6369/420315242.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  customer_df.birthdate.describe()

count                   11080
unique                   8675
top       1953-01-12 00:00:00
freq                        5
first     1935-02-14 00:00:00
last      2000-12-30 00:00:00
Name: birthdate, dtype: object

In [9]:
DOG_YEARS = [i for i in range(1946, 2018 + 1, 12)]

In [110]:
candidates_df = customer_df.loc[
    (
        (customer_df["birthdate"].dt.year.isin(DOG_YEARS))
        & (
            (customer_df["birthdate"].dt.month == 3)
            & (customer_df["birthdate"].dt.day.between(21, 31))
            | (customer_df["birthdate"].dt.month == 4)
            & (customer_df["birthdate"].dt.day.between(1, 19))
        )
    ),
]

In [111]:
candidates_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81 entries, 77 to 10951
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   customerid    81 non-null     int64
 1   name          81 non-null     string
 2   address       81 non-null     string
 3   citystatezip  81 non-null     string
 4   birthdate     81 non-null     datetime64[ns]
 5   phone         81 non-null     string
dtypes: datetime64[ns](1), int64(1), string(4)
memory usage: 4.4 KB

In [112]:
customer_df.loc[customer_df["name"] == "Jeremy Davis"]

,customerid,name,address,citystatezip,birthdate,phone
3163,4164,Jeremy Davis,134-10 Foch Blvd,"South Ozone Park, NY 11420",1995-07-26,212-771-8924

In [113]:
candidates_df.loc[candidates_df["citystatezip"] == "South Ozone Park, NY 11420"]

,customerid,name,address,citystatezip,birthdate,phone
1273,2274,Brent Nguyen,109-19 110th St,"South Ozone Park, NY 11420",1958-03-25,516-636-7397