# Hanukkah of Data: Day 08

We are looking for the phone number of a man, who's a customer of Noah's, lives in Manhatten and owns an entire set of collectibles.

## Setup

In [1]:
import pandas as pd

from hanukkah_of_data.utils import load_data

## Load data

In [2]:
dfs = load_data()

In [3]:
customer_df = dfs["customers"]
orders_df = dfs["orders"]
items_df = dfs["orders_items"]
products_df = dfs["products"]

## Solve puzzle

In [24]:
candidates_df = customer_df.loc[customer_df["citystatezip"].str.contains("Manhattan")]

In [14]:
products_df.loc[products_df.desc.str.startswith("Noah's")]

          sku                            desc  wholesale_cost
9     TOY0085              Noah's Toy Soldier           11.96
30    COL0263          Noah's Jersey (orange)           21.08
38    COL0295             Noah's Jersey (red)           15.42
53    COL0464  Noah's Action Figure (magenta)           23.93
68    COL0638         Noah's Jewelry (purple)           43.98
...       ...                             ...             ...
1084  TOY9571                 Noah's Stickers            1.13
1091  COL9688       Noah's Bobblehead (azure)           11.42
1092  COL9689          Noah's Jewelry (azure)           62.01
1109  TOY9830                     Noah's Yoyo            5.63
1110  COL9842        Noah's Gift Box (orange)            5.66

[96 rows x 3 columns]

In [25]:
merged_df = (
    candidates_df.merge(orders_df, how="inner", on="customerid")
    .merge(items_df, how="left", on="orderid")
    .merge(products_df, how="left", on="sku")
)

In [26]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200691 entries, 0 to 200690
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   customerid      200691 non-null  int64
 1   name            200691 non-null  string
 2   address         200691 non-null  string
 3   citystatezip    200691 non-null  string
 4   birthdate       200691 non-null  datetime64[ns]
 5   phone           200691 non-null  string
 6   orderid         200691 non-null  int64
 7   ordered         200691 non-null  datetime64[ns]
 8   shipped         200691 non-null  datetime64[ns]
 9   items           0 non-null       float64
 10  total           200691 non-null  float64
 11  sku             200691 non-null  string
 12  qty             200691 non-null  int64
 13  unit_price      200691 non-null  float64
 14  desc            200691 non-null  string
 15  wholesale_cost  200691 non-null  float64
dtypes: datetime64[ns](3), float64(4), int64(3), string(6)
memory usage: 26.0 MB

In [31]:
merged_df.loc[merged_df["desc"].str.startswith("Noah's")].groupby(["name", "phone"])[
    "desc"
].count().sort_values(ascending=False).nlargest(5)

name             phone
Travis Bartlett  929-906-5980    230
Joshua Smith     914-243-3254     35
Megan Poole      585-479-7947     34
Justin Jimenez   516-722-4758     33
Chelsea Marsh    315-565-2714     30
Name: desc, dtype: int64