# Hanukkah of Data: Day 06

We are looking for the phone number of a woman who is a customer of Noah's and loves to shop when products are on sale.

## Setup

In [1]:
import pandas as pd

from hanukkah_of_data.utils import load_data

## Load data

In [2]:
dfs = load_data()

In [7]:
customers_df = dfs["customers"]
orders_df = dfs["orders"]
items_df = dfs["orders_items"]
products_df = dfs["products"]

## Solve puzzle

In [18]:
merged_df = (
    customers_df.merge(orders_df, how="inner", on="customerid")
    .merge(items_df, how="left", on="orderid")
    .merge(products_df, how="left", on="sku")
)

In [20]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 427776 entries, 0 to 427775
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   customerid      427776 non-null  int64
 1   name            427776 non-null  string
 2   address         427776 non-null  string
 3   citystatezip    427776 non-null  string
 4   birthdate       427776 non-null  datetime64[ns]
 5   phone           427776 non-null  string
 6   orderid         427776 non-null  int64
 7   ordered         427776 non-null  datetime64[ns]
 8   shipped         427776 non-null  datetime64[ns]
 9   items           0 non-null       float64
 10  total           427776 non-null  float64
 11  sku             427776 non-null  string
 12  qty             427776 non-null  int64
 13  unit_price      427776 non-null  float64
 14  desc            427776 non-null  string
 15  wholesale_cost  427776 non-null  float64
dtypes: datetime64[ns](3), float64(4), int64(3), string(6)
memory usage: 55.5 MB

In [43]:
grouped_df = merged_df.groupby(["orderid", "name", "phone"])[
    ["total", "wholesale_cost"]
].sum()

In [48]:
grouped_df["is_loss"] = grouped_df["total"] < grouped_df["wholesale_cost"]

In [69]:
grouped_df.loc[grouped_df["is_loss"] == True, "is_loss"].groupby(
    ["name", "phone"]
).count().sort_values(ascending=False)

name                  phone
Emily Randolph        914-868-0316    7
Steven Reilly         680-315-1072    3
Sabrina White         315-999-5397    3
Robin Mercado         315-560-8204    2
Stephen Figueroa III  585-718-8839    2
                                     ..
Emily Williamson      212-259-4245    1
Emily Day             934-574-3613    1
Emily Costa           631-245-3734    1
Ellen Fisher          914-789-4401    1
Zachary Hubbard Jr.   917-866-7618    1
Name: is_loss, Length: 554, dtype: int64