# Hanukkah of Data: Day 05

We are looking for the phone number of a woman from Queens Village owning up to 11 old cats who is a customer of Noah's.

## Setup

In [1]:
import pandas as pd

from hanukkah_of_data.utils import load_data

## Load data

In [2]:
dfs = load_data()

In [19]:
customers_df = dfs["customers"]
orders_df = dfs["orders"]
items_df = dfs["orders_items"]
products_df = dfs["products"]

## Solve puzzle

In [11]:
candidates_df = customers_df.loc[
    customers_df["citystatezip"].str.contains("Queens Village")
]

In [20]:
merged_df = (
    candidates_df.merge(orders_df, how="left", on="customerid")
    .merge(items_df, how="left", on="orderid")
    .merge(products_df, how="left", on="sku")
)

In [21]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109 entries, 0 to 108
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customerid      109 non-null    int64
 1   name            109 non-null    string
 2   address         109 non-null    string
 3   citystatezip    109 non-null    string
 4   birthdate       109 non-null    datetime64[ns]
 5   phone           109 non-null    string
 6   orderid         60 non-null     float64
 7   ordered         60 non-null     datetime64[ns]
 8   shipped         60 non-null     datetime64[ns]
 9   items           0 non-null      float64
 10  total           60 non-null     float64
 11  sku             60 non-null     string
 12  qty             60 non-null     float64
 13  unit_price      60 non-null     float64
 14  desc            60 non-null     string
 15  wholesale_cost  60 non-null     float64
dtypes: datetime64[ns](3), float64(6), int64(1), string(6)
memory usage: 14.5 KB

In [27]:
merged_df.loc[
    merged_df.desc.str.contains("Cat Food"), ["name", "phone", "total"]
].groupby(["name", "phone"]).count()

                             total
name           phone
Anita Koch     315-492-7411     17
Jose Cook      516-745-9461      1
Joseph Weaver  680-839-3746      1
Justin Cochran 716-525-5173      1
Sam House      607-836-2966      3